#include "keys_sv.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUM 1
#define SYM 2
#define FUN 3
#define NAV 4
#define MSE 5
#define MED 6

&lt {
    tapping-term-ms = <300>;
    quick_tap_ms = <200>;
    flavor = "hold-preferred";
};

&caps_word { continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>; };

/ {
    chosen { zmk,matrix_transform = &skeletyl_transform; };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tap_dance_capsword: tap_dance_capsword {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CAPSWORD";
            #binding-cells = <0>;
            bindings = <&kp SV_COMMA>, <&caps_word>;
        };

        tap_dance_vim_save_exit: tap_dance_vim_save_exit {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_VIM_SAVE_EXIT";
            #binding-cells = <0>;
            bindings = <&kp SV_UNDER>, <&vim_save_exit>;
        };
    };

    macros {
        vim_save_exit: vim_save_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp COLON &kp W &kp Q &kp ENTER>;
            label = "VIM_SAVE_EXIT";
        };

        tide_macro: tide_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SV_TILDE &kp SPACE>;
            label = "TIDE_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
&kp SV_DOT  &kp W       &kp F       &kp G        &none    &none      &tap_dance_capsword  &tap_dance_vim_save_exit  &kp J       &kp B
&kp S       &hm LALT C  &hm LGUI N  &hm LCTRL T  &none    &none      &hm LCTRL A          &hm LGUI E                &hm LALT I  &kp H
&none       &kp P       &kp L       &kp D        &none    &none      &kp U                &kp O                     &kp Y       &none
                        &none       &kp R        &mo 1    &sk LSHFT  &lt 4 SPACE          &none
            >;
        };

        sym1 {
            bindings = <
&kp SV_EXCL  &kp SV_LBRC         &kp SV_RBRC  &kp SV_EQUAL  &trans    &trans      &kp SV_SEMI  &kp SV_LPAR  &kp SV_RPAR           &kp SV_QMARK
&kp F        &hm LALT SV_A_RING  &hm LGUI Q   &hm LCTRL K   &trans    &trans      &hm LCTRL X  &hm LGUI Z   &hm LALT SV_A_UMLAUT  &kp SV_O_UMLAUT
&trans       &kp SV_PLUS         &kp SV_STAR  &kp SV_MINUS  &trans    &trans      &kp SV_FSLH  &kp SV_LT    &kp SV_GT             &trans
                                 &trans       &to 0         &trans    &kp SV_DQT  &mo 2        &trans
            >;
        };

        sym2 {
            bindings = <
&kp SV_PRCNT  &kp SV_COLON    &kp SV_CARET    &kp SV_PIPE      &trans       &trans  &tide_macro      &kp SV_LBKT      &kp SV_RBKT     &kp SV_QMARK
&kp LS(F)     &hm LALT LS(A)  &hm LGUI LS(Q)  &hm LCTRL LS(K)  &trans       &trans  &hm LCTRL LS(X)  &hm LCTRL LS(Z)  &hm LALT LS(A)  &kp LS(O)
&trans        &kp SV_HASH     &kp SV_AMPS     &kp SV_DLLR      &trans       &trans  &kp SV_BSLH      &kp SV_AT        &kp SV_SQT      &trans
                              &trans          &trans           &kp GRAVE    &trans  &trans           &trans
            >;
        };

        num {
            bindings = <
&trans     &kp BACKSPACE   &kp N5       &kp N6        &trans    &trans     &kp N7        &kp N8       &kp N9       &trans
&kp LC(A)  &hm LALT LC(Z)  &hm LGUI N0  &hm LCTRL N1  &trans    &trans     &hm LCTRL N2  &hm LGUI N3  &hm LALT N4  &trans
&trans     &kp LC(X)       &kp LC(C)    &kp LC(V)     &trans    &trans     &kp SV_COMMA  &kp SV_DOT   &trans       &trans
                           &trans       &trans        &trans    &kp LSHFT  &kp LGUI      &trans
            >;
        };

        sys {
            bindings = <
&trans  &trans        &kp DEL         &kp HOME       &trans    &trans  &trans          &kp BACKSPACE  &trans       &trans
&trans  &hm LALT TAB  &hm LGUI ENTER  &hm LCTRL ESC  &trans    &trans  &hm LCTRL LEFT  &hm LGUI DOWN  &hm LALT UP  &kp RIGHT
&trans  &trans        &trans          &kp END        &trans    &trans  &trans          &kp PG_DN      &kp PG_UP    &trans
                      &trans          &kp LGUI       &mo 5     &trans  &trans          &trans
            >;
        };

        fun {
            bindings = <
&kp F10  &kp F11      &kp F12      &trans        &trans    &trans      &trans        &trans       &trans       &trans
&kp F1   &hm LALT F2  &hm LGUI F3  &hm LCTRL F4  &trans    &trans      &hm LCTRL F6  &hm LGUI F7  &hm LALT F8  &kp F9
&trans   &trans       &trans       &trans        &trans    &trans      &trans        &trans       &trans       &trans
                      &trans       &trans        &trans    &kp LSHIFT  &trans        &trans
            >;
        };
    };
};
