#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUM 1
#define SYM 2
#define FUN 3
#define NAV 4
#define MSE 5
#define MED 6

&lt {
    tapping-term-ms = <300>;
    quick_tap_ms = <200>;
    flavor = "hold-preferred";
};

&caps_word { continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>; };

/ {
    chosen { zmk,matrix_transform = &skeletyl_transform; };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        u_caps_word: u_caps_word {
            compatible = "zmk,behavior-mod-morph";
            label = "u_caps_word";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp PERIOD  &kp W       &kp F       &kp G        &none        &none         &kp COMMA    &kp UNDERSCORE  &kp J       &kp B
&kp S       &hm LALT C  &hm LGUI N  &hm LCTRL T  &none        &none         &hm LCTRL A  &hm LGUI E      &hm LALT I  &kp H
&none       &kp P       &kp L       &kp D        &none        &none         &kp U        &kp O           &kp Y       &none
                        &none       &kp R        &lt 0 TAB    &lt 0 LSHIFT  &sk LSHFT    &none
            >;
        };
    };
};
